In [2]:
import pandas as pd

In [4]:
props = pd.read_csv("http://www.firstpythonnotebook.org/_static/committees.csv")

In [8]:
props.head()

,ocd_prop_id,calaccess_prop_id,ccdc_prop_id,prop_name,ccdc_committee_id,calaccess_committee_id,committee_name,committee_position
0,ocd-contest/b51dc64d-3562-4913-a190-69f5088c22a6,1376258,70,PROPOSITION 051 - SCHOOL BONDS. FUNDING FOR K-...,382,1374469,YES ON PROPOSITION 51 - CALIFORNIANS FOR QUALI...,SUPPORT
1,ocd-contest/b51dc64d-3562-4913-a190-69f5088c22a6,1376258,70,PROPOSITION 051 - SCHOOL BONDS. FUNDING FOR K-...,383,1220380,COMMUNITY COLLEGE FACILITY COALITION ISSUES CO...,SUPPORT
2,ocd-contest/b51dc64d-3562-4913-a190-69f5088c22a6,1376258,70,PROPOSITION 051 - SCHOOL BONDS. FUNDING FOR K-...,384,1282321,TORLAKSON'S INVEST IN CALIFORNIA A BALLOT MEAS...,SUPPORT
3,ocd-contest/b51dc64d-3562-4913-a190-69f5088c22a6,1376258,70,PROPOSITION 051 - SCHOOL BONDS. FUNDING FOR K-...,385,1382843,CALIFORNIA TAXPAYERS AND EDUCATORS OPPOSED TO ...,OPPOSE
4,ocd-contest/85990193-9d6f-4600-b8e7-bf1317841d82,1362198,71,PROPOSITION 052 - STATE FEES ON HOSPITALS. FED...,386,1362973,YES ON PROPOSITION 52 - A COALITION OF CALIFOR...,SUPPORT

In [9]:
props.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 102 entries, 0 to 101
Data columns (total 8 columns):
ocd_prop_id               102 non-null object
calaccess_prop_id         102 non-null int64
ccdc_prop_id              102 non-null int64
prop_name                 102 non-null object
ccdc_committee_id         102 non-null int64
calaccess_committee_id    102 non-null int64
committee_name            102 non-null object
committee_position        102 non-null object
dtypes: int64(4), object(4)
memory usage: 4.8+ KB

In [10]:
contribs = pd.read_csv("http://www.firstpythonnotebook.org/_static/contributions.csv")

In [11]:
contribs.head()

,calaccess_committee_id,committee_name,calaccess_filing_id,date_received,contributor_lastname,contributor_firstname,contributor_city,contributor_state,contributor_zip,contributor_employer,contributor_occupation,contributor_is_self_employed,amount
0,1386560,ADULT USE CAMPAIGN FOR PROPOSITION 64; THE,2083796,2016-09-18,BERGMAN,GRETCHEN,SPRING VALLEY,CA,91978,A NEW PATH,EXECUTIVE DIRECTOR,False,84.0
1,1386560,ADULT USE CAMPAIGN FOR PROPOSITION 64; THE,2083796,2016-09-18,KAHLE,MYRNA,SAN DIEGO,CA,92109,NATIONAL SCHOOL DISTRICT,TEACHER,False,35.0
2,1386560,ADULT USE CAMPAIGN FOR PROPOSITION 64; THE,2083796,2016-07-15,MCDEVITT,LEO,ESCONDIDO,CA,92025,LIFE IONIZERS,SEO/CONTENT MANAGER,False,198.0
3,1386560,ADULT USE CAMPAIGN FOR PROPOSITION 64; THE,2083796,2016-08-10,WARREN-SAMARIPA,STEPHANIE,SAN DIEGO,CA,92116,STEPHANIE WARREN SAMARIPA,ENTREPRENEUR,False,-50.0
4,1386560,ADULT USE CAMPAIGN FOR PROPOSITION 64; THE,2083796,2016-07-26,WARREN-SAMARIPA,STEPHANIE,SAN DIEGO,CA,92116,STEPHANIE WARREN SAMARIPA,ENTREPRENEUR,True,50.0

In [12]:
contribs.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 56379 entries, 0 to 56378
Data columns (total 13 columns):
calaccess_committee_id          56379 non-null int64
committee_name                  56379 non-null object
calaccess_filing_id             56379 non-null int64
date_received                   56379 non-null object
contributor_lastname            56375 non-null object
contributor_firstname           53411 non-null object
contributor_city                56369 non-null object
contributor_state               56363 non-null object
contributor_zip                 56366 non-null object
contributor_employer            48572 non-null object
contributor_occupation          53273 non-null object
contributor_is_self_employed    56379 non-null bool
amount                          56379 non-null float64
dtypes: bool(1), float64(1), int64(2), object(9)
memory usage: 3.3+ MB

In [14]:
props.prop_name.value_counts().reset_index()

                                                index  prop_name
0   PROPOSITION 057 - CRIMINAL SENTENCES. JUVENILE...         13
1   PROPOSITION 056 - CIGARETTE TAX TO FUND HEALTH...         12
2   PROPOSITION 064- MARIJUANA LEGALIZATION. INITI...         11
3   PROPOSITION 066- DEATH PENALTY. PROCEDURES. IN...          9
4   PROPOSITION 055 - TAX EXTENSION TO FUND EDUCAT...          8
5   PROPOSITION 067- REFERENDUM TO OVERTURN BAN ON...          7
6   PROPOSITION 062- DEATH PENALTY. INITIATIVE STA...          7
7   PROPOSITION 059- SB 254 (CHAPTER 20, STATUTES ...          6
8   PROPOSITION 053 - REVENUE BONDS. STATEWIDE VOT...          4
9   PROPOSITION 054 - LEGISLATURE. LEGISLATION AND...          4
10  PROPOSITION 058 - SB 1174 (CHAPTER 753, STATUT...          4
11  PROPOSITION 063- FIREARMS. AMMUNITION SALES. I...          4
12  PROPOSITION 051 - SCHOOL BONDS. FUNDING FOR K-...          4
13  PROPOSITION 052 - STATE FEES ON HOSPITALS. FED...          3
14  PROPOSITION 061- STATE PRESCRIPTION DRUG PURCH...          3
15  PROPOSITION 060- ADULT FILMS. CONDOMS. HEALTH ...          2
16  PROPOSITION 065- CARRY-OUT BAGS. CHARGES. INIT...          1

In [22]:
contribs["contributor_name"] = contribs["contributor_firstname"].map(str) + " " + contribs["contributor_lastname"].map(str)

In [23]:
contribs.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 56379 entries, 0 to 56378
Data columns (total 14 columns):
calaccess_committee_id          56379 non-null int64
committee_name                  56379 non-null object
calaccess_filing_id             56379 non-null int64
date_received                   56379 non-null object
contributor_lastname            56375 non-null object
contributor_firstname           53411 non-null object
contributor_city                56369 non-null object
contributor_state               56363 non-null object
contributor_zip                 56366 non-null object
contributor_employer            48572 non-null object
contributor_occupation          53273 non-null object
contributor_is_self_employed    56379 non-null bool
amount                          56379 non-null float64
contributor_name                56379 non-null object
dtypes: bool(1), float64(1), int64(2), object(10)
memory usage: 3.5+ MB

In [24]:
contribs.head()

,calaccess_committee_id,committee_name,calaccess_filing_id,date_received,contributor_lastname,contributor_firstname,contributor_city,contributor_state,contributor_zip,contributor_employer,contributor_occupation,contributor_is_self_employed,amount,contributor_name
0,1386560,ADULT USE CAMPAIGN FOR PROPOSITION 64; THE,2083796,2016-09-18,BERGMAN,GRETCHEN,SPRING VALLEY,CA,91978,A NEW PATH,EXECUTIVE DIRECTOR,False,84.0,GRETCHEN BERGMAN
1,1386560,ADULT USE CAMPAIGN FOR PROPOSITION 64; THE,2083796,2016-09-18,KAHLE,MYRNA,SAN DIEGO,CA,92109,NATIONAL SCHOOL DISTRICT,TEACHER,False,35.0,MYRNA KAHLE
2,1386560,ADULT USE CAMPAIGN FOR PROPOSITION 64; THE,2083796,2016-07-15,MCDEVITT,LEO,ESCONDIDO,CA,92025,LIFE IONIZERS,SEO/CONTENT MANAGER,False,198.0,LEO MCDEVITT
3,1386560,ADULT USE CAMPAIGN FOR PROPOSITION 64; THE,2083796,2016-08-10,WARREN-SAMARIPA,STEPHANIE,SAN DIEGO,CA,92116,STEPHANIE WARREN SAMARIPA,ENTREPRENEUR,False,-50.0,STEPHANIE WARREN-SAMARIPA
4,1386560,ADULT USE CAMPAIGN FOR PROPOSITION 64; THE,2083796,2016-07-26,WARREN-SAMARIPA,STEPHANIE,SAN DIEGO,CA,92116,STEPHANIE WARREN SAMARIPA,ENTREPRENEUR,True,50.0,STEPHANIE WARREN-SAMARIPA

In [28]:
contribs.contributor_name.value_counts().reset_index()

                                                   index  contributor_name
0                                       PRISCILLA GILMAN                66
1                                          WILLIAM CHEEK                66
2                                         GLENN TANIMURA                56
3                                          DOUGLAS KASAI                40
4                         nan AIDS HEALTHCARE FOUNDATION                39
5                                             PEG YORKIN                39
6                                         ELLIOTT MILLER                36
7                                           RODNEY VLIET                35
8                                            ROBERT BOND                34
9                                             MARTHA UTZ                34
10                                      MARGARET TRAWICK                34
11                                        DERYL DANTZLER                33
12                                     ROBERT FRASQUILLO                31
13                                             MARY THOM                30
14                                         GREGORY BROWN                30
15                                       MICHAEL GREGORY                30
16                                          ALDEN DUPONT                28
17                                           NANCY NANNA                28
18                                          NANCY SWEATT                26
19                                          AMANDA WAYNE                26
20                                      KILLIAN ROBINSON                25
21                                        SIBYLLE BARLOW                25
22                                        CHARLES SHARPE                24
23                                       GORDON FLEISHER                24
24                                     JAMES B ROBERTSON                23
25                                       JONATHAN JANZEN                23
26                                     JENNIFER FRIEDMAN                23
27                                        DAVID DIETRICH                23
28                                       IGOR KRINITSKIY                23
29                                        MARTHA HUNKINS                22
...                                                  ...               ...
40159                                      JASON D PHELP                 1
40160                                 CARLOS E CHAVEZ II                 1
40161                                      VIVIANA LOPEZ                 1
40162                                       MITCH BARLAS                 1
40163                                    VINCENT V LERMA                 1
40164                                       HARRIET HORN                 1
40165                                        LUKE K THAO                 1
40166                                     LAURA TROMBORG                 1
40167                                      ERIC D INGRAM                 1
40168                                 WALTER J MARROQUIN                 1
40169                            LORENA VELASQUEZ-AVALOS                 1
40170                               RANDALL J PENNINGTON                 1
40171                                   MINDY SCHULTHEIS                 1
40172                                        ALEX M RUIZ                 1
40173                                     DAVID M GARCIA                 1
40174                                      MIKE MAGNUSON                 1
40175                                   STEVEN M DANFORD                 1
40176                                        WALTER BELL                 1
40177                                    PETER WHITEHEAD                 1
40178                                   JESSICA P FIERRO                 1
40179                                RICHARD M CAVAGNOLO                 1
40180                                   JEFFREY SCHWARTZ                 1
40181                                  NORMAN M GASSAWAY                 1
40182                                ARTURO G SANTAMARIA                 1
40183  nan CALIFORNIA STATE COUNCIL OF LABORERS ISSUE...                 1
40184                                  ELIZABETH BARBOUR                 1
40185                                     MARIA L OLIVER                 1
40186                                    JACOB R SKELTON                 1
40187                                        MARK BOWERS                 1
40188                                     RAUL VELASQUEZ                 1

[40189 rows x 2 columns]